@font-face {
  font-family: 'glyphicons halflings';
  src: url('../bootStrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bootStrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../bootStrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg'),
  url('../bootStrap/fonts/glyphicons-halflings-regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

body{
    margin: 0px;
    font-family:'glyphicons halflings', helvetica, sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
}
#BarTopFixed{
    width: 100%;
    top: 0px;
    position: fixed;
    background-color: white;
    box-shadow: 0 0 8px #aaa;    
}
#BarTopFixed ._content form{
    float: right;
    margin-top: 15px;
    margin-right: 10%;
}
#logo{
    margin-left: 10%;
    width: 60px;
}
.navbar-search{
    float: right;
    margin-right: 150px;
    margin-top: 15px;
    border-radius: 15px;
}
img {
    width: 200px;
}
#BarTopNav{
    margin-top: 70px;
    margin-bottom: 10px;
    width: 80%;
    float: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'GCF Arch Reactor', helvetica, sans-serif;  
}
#BarTopNav form{
    float: right;
    margin-top: 20px;
    margin-right: 5%;
}
#BarTopNav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#BarTopNav li{
    display: inline-block;
}
._options, ._perfil-actions{
    background: #333;
    color: #CBCBCB;
    border-bottom: 3px solid #1b9bff;
    font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
    font-size: 12px;
}
._options a {
    text-decoration: none;
    text-transform: uppercase;
    background: #333;
    color: #CBCBCB;
    padding: 15px;
    display: block; 
}
._options a:hover{
    background: #1b9bff;
    color: #FFF;
}
#Main{
    width: 80%;
    margin: auto;
}
#L_Side, ._List1_desc{
    width: 70%;
}
#R_Side{
    width: 28%;
    display: block;
    float: right;
}
._perfil{
    background-color: white;
    box-shadow: 0 0 5px #aaa;
    padding: 10px;
    font-family: 'glyphicons halflings', helvetica, sans-serif;
    font-size: normal;
    transition: background 300ms linear; 
}
._perfil:hover{
    background-color: gray;
}
._perfil img{
    width: 210px;
    top: 10px;
    position: static;
    float: right;
}
._perfil-info{
    padding: 10px;
    margin-right: 30%;
    text-align: center;
}
.tit{
    padding: 10px;
    border-bottom: 3px solid #1b9bff;
    margin:0px;
    text-align: center;
}
._perfil-actions{
    padding-top: 10px;
    text-align: center;
}
._perfil-actions ul{
    padding-left: 0px;
    margin: 0px;
}
._perfil-actions li{
    display:inline-block;;
    margin: 15px;          
}
.List1{
    background-color: white;
    list-style: none;
    padding: 10px;
    box-shadow: 0 0 5px #aaa;
    margin-bottom: 1em;
    border-radius: 3px;
}
.List1 li{
    display: inline-block;
}
.List1 li._List1_img{
    width: 25%;
    height: 100%;
}
._List1_desc h1{
    margin-top: 0px;
}
._List1_act{
    width: 100%;
    background-color: #FCe4e4;
}
._List1_act a{
    float: right;
    margin-right: 10px;
    padding: 3px;
    text-decoration: none;
}
.date{
    float: right;
}
._bloco-branco{    
    background-color: white;
    box-shadow: 0 0 5px #aaa; 
}
._menu, ._lista{
    margin-top: 0px;
    padding:0;
    margin:0px;
    width: 100%;
    list-style: none;

}
._lista li {
    text-align: right;
    padding: 15px;
    text-decoration: none;
}
._menu img{
    margin-left: 10px;
    width: 80px;
    transition: all 300ms linear;
}
._menu li a{
    height: 100px;
    display: block;
}
._menu li {
    transition: background 300ms linear; 
    padding-top: 10px;
}
._menu li:hover {
    background: #1b9bff;
    border-bottom: 1px solid #666
}
._menu li h3 {
    opacity: 0;
    font-size: 14px;
    transition: all 300ms linear; 
}
._menu li h2 {   
    color: #666;
    transition: all 300ms linear; 
}
._menu li:hover h3 {
    font-size: 50px;
    color: #666;
    opacity: 1;
    margin-bottom: 0px;
}
._menu li:hover h2 {
    font-size: 14px;
    float: right;
}
._menu li:hover img {
    width: 90px;
    transform: rotate(17deg);
}
._menuContent{
    float: right;
    margin-right: 10px;
}
._menuContent h2, h3{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: right;
}
#Info{
    margin-bottom: 20px;
}
